<footer id="footer" class="bg-dark-tim">
    <div class="uk-container text-center text-white py-3">
        Copyright Vutaweb
    </div>
</footer>
</div>

<script src="./static/js/jquery-3.3.1.min.js"></script>
<script src="./static/js/uikit.min.js"></script>
<script src="./static/js/uikit-icons.min.js"></script>
<script src="./static/js/main.js"></script>
</body>

</html>