<section class="gh-slider">
    <div class="uk-container py-md-5">
        <h1 class="text-white text-uppercase uk-text-bold text-success pt-5 text-center mb-0">
            mega airdrop (phase 2)
        </h1>
        <div class="d-block text-center text-white ">
            <span>
                <i>7 Coins World's first multi-air-drop</i>
            </span>
        </div>
        <h4 class="d-block mt-4 text-center text-white">
            <b>Airdrop Finishes In</b>
        </h4>
        <div class="d-block text-center gh-countdown">
            <ul class="nolist d-inline-flex" uk-countdown="date: 2018-08-31T02:27:15+00:00">
                <li>
                    <span class="uk-countdown-number uk-countdown-days"></span>
                    <span>days</span>
                </li>
                <li>
                    <span class="uk-countdown-number uk-countdown-hours"></span>
                    <span>hours</span>
                </li>
                <li>
                    <span class="uk-countdown-number uk-countdown-minutes"></span>
                    <span>minutes</span>
                </li>
                <li>
                    <span class="uk-countdown-number uk-countdown-seconds"></span>
                    <span>seconds</span>
                </li>
            </ul>
        </div>
        <div class="d-block py-3 text-center">
            <a href="" class="btn btn-success"> Claim your Airdrop coins now!</a>
        </div>
        <div class="d-block py-3 text-white text-uppercase anton text-center">
            Get Coins From The Following Airdrop Partnars
        </div>

    </div>
</section>