<section class="gh-slider">
    <div class="uk-container pt-md-5">
        <div uk-grid class="uk-child-width-1-2@m align-items-center pt-md-5">
            <div>
                <h1 class="text-white">
                    #ERC 20 Token Based on the Development of Medical instruments.
                </h1>
                <p class="text-white">The Standard for an Open Medical Industry, Safe, Decentralized & trust free. </p>
                
            </div>
            <div>
                <img src="./static/images/header-image-blue.png" alt="">
            </div>
        </div>
    </div>
</section>
