<div id="--js-loading">
    <div id="loading-top"></div>
    <div id="loading-bottom"></div>
    <canvas id="cnv" data-canvas></canvas>
    <div class="uk-position-center text-loading">
        <h1 class="data-text hyeon my-0 text-center" data-text="Vutaweb.VN">Vutaweb.VN</h1>
        <h2 class="data-text hyeon my-0 text-center" data-text="Loading...">Loading...</h2>
    </div>
</div>